<div class="page-footer">
  <div class="container">
    <div class="copyright">
      <b>Criado com
        <i class="material-icons copyright-icon">flash_on</i>
        por
        <a class="copyright-link" href="https://github.com/arferreira/"> arferreira</a>
      </b>
    </div>
  </div>
</div>