<div class="container">
    <h2 class="center-align">Surpreenda com seus vídeos</h2>    
    <h3 class="center-align subtitle2">
        Transforme seus vídeos pessoais em brincadeira <i class="material-icons home-icon">favorite</i>
    </h3>
    <div class="row center">
        <a href="/users/sign_up" class="btn waves-effect waves-light center-align">
            Começar agora
        </a>
    </div>
</div>